![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Pandas - `DataFrame`s

Probably the most important data structure of pandas is the `DataFrame`. It's a tabular structure tightly integrated with `Series`.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [ ]:
import numpy as np
import pandas as pd

We'll keep our analysis of G7 countries and looking now at DataFrames. As said, a DataFrame looks a lot like a table (as the one you can appreciate [here](https://docs.google.com/spreadsheets/d/1IlorV2-Oh9Da1JAZ7weVw86PQrQydSMp-ydVMH135iI/edit?usp=sharing)):

<img width="700" src="https://user-images.githubusercontent.com/872296/38153492-72c032ca-3443-11e8-80f4-9de9060a5127.png" />

Creating `DataFrame`s manually can be tedious. 99% of the time you'll be pulling the data from a Database, a csv file or the web. But still, you can create a DataFrame by specifying the columns and values:

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

_(The `columns` attribute is optional. I'm using it to keep the same order as in the picture above)_

In [ ]:
df

`DataFrame`s also have indexes. As you can see in the "table" above, pandas has assigned a numeric, autoincremental index automatically to each "row" in our DataFrame. In our case, we know that each row represents a country, so we'll just reassign the index:

In [15]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info()

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.dtypes.value_counts()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Indexing, Selection and Slicing

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a `Series`:

In [ ]:
df

In [ ]:
df.loc['Canada']

In [ ]:
df.iloc[-1]

In [ ]:
df['Population']

Note that the `index` of the returned Series is the same as the DataFrame one. And its `name` is the name of the column. If you're working on a notebook and want to see a more DataFrame-like format you can use the `to_frame` method:

In [ ]:
df['Population'].to_frame()

Multiple columns can also be selected similarly to `numpy` and `Series`:

In [ ]:
df[['Population', 'GDP']]

In this case, the result is another `DataFrame`. Slicing works differently, it acts at "row level", and can be counter intuitive:

In [ ]:
df[1:3]

Row level selection works better with `loc` and `iloc` **which are recommended** over regular "direct slicing" (`df[:]`).

`loc` selects rows matching the given index:

In [ ]:
df.loc['Italy']

In [ ]:
df.loc['France': 'Italy']

As a second "argument", you can pass the column(s) you'd like to select:

In [ ]:
minister = pd.DataFrame({'certificate': [7, 8, 9 ,5],'month':[20, 10, 15, 21]})
minister.index = ['ade', 'kola', 'tun', 'ayo']
minister['month']

In [ ]:
df.loc['France': 'Italy', 'Population']

In [ ]:
df.loc['France': 'Italy', ['Population', 'GDP']]

`iloc` works with the (numeric) "position" of the index:

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[-1]

In [ ]:
df.iloc[[0, 1, -1]]

In [ ]:
df.iloc[1:3]

In [ ]:
df.iloc[1:3, 3]

In [ ]:
df.iloc[1:3, [0, 3]]

In [ ]:
df.iloc[1:3, 1:3]

> **RECOMMENDED: Always use `loc` and `iloc` to reduce ambiguity, specially with `DataFrame`s with numeric indexes.**

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Conditional selection (boolean arrays)

We saw conditional selection applied to `Series` and it'll work in the same way for `DataFrame`s. After all, a `DataFrame` is a collection of `Series`:

In [ ]:
df

In [ ]:
df['Population'] > 70

In [ ]:
df.loc[df['Population'] > 70]

The boolean matching is done at Index level, so you can filter by any row, as long as it contains the right indexes. Column selection still works as expected:

In [ ]:
df.loc[df['Population'] > 70, 'Population']

In [ ]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Dropping stuff

Opposed to the concept of selection, we have "dropping". Instead of pointing out which values you'd like to _select_ you could point which ones you'd like to `drop`:

In [ ]:
# dropping with index
df.drop('Canada')

In [ ]:
# dropping multiple index
df.drop(['Canada', 'Japan'])

In [ ]:
df.drop(columns=['Population', 'HDI'])

In [ ]:
df.drop(['Italy', 'Canada'], axis=0)

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

In [ ]:
df.drop(['Population', 'HDI'], axis='columns')

In [ ]:
df.drop(['Canada', 'Germany'], axis='rows')

All these `drop` methods return a new `DataFrame`. If you'd like to modify it "in place", you can use the `inplace` attribute (there's an example below).

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Operations

In [ ]:
df[['Population', 'GDP']]

In [ ]:
df[['Population', 'GDP']] / 100

**Operations with Series** work at a column level, broadcasting down the rows (which can be counter intuitive).

In [68]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP', 'HDI']]

In [ ]:
# This will affect every value in the respected column
df[['GDP', 'HDI']] + crisis

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Modifying DataFrames

It's simple and intuitive, You can add columns, or replace values for columns without issues:

### Adding a new column

In [56]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [57]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [58]:
df['Language'] = langs

In [46]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

---
### Replacing values per column

In [48]:
df['Language'] = 'English'

In [49]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

---
### Renaming Columns

In [50]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,English
Germany,80.940,3874437,357114,0.916,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,English

In [ ]:
df.rename(index=str.upper)

In [60]:
df.rename(index=lambda x: x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America      NaN
france              63.951   2833687        640679  0.888    Europe   French
germany             80.940   3874437        357114  0.916    Europe   German
italy               60.665   2167744        301336  0.873    Europe  Italian
japan              127.061   4602367        377930  0.891      Asia      NaN
united kingdom      64.511   2950039        242495  0.907    Europe      NaN
united states      318.523  17348075       9525067  0.915   America      NaN

---
### Dropping columns

In [61]:
df.drop(columns='Language', inplace=True)

---
### Adding values

In [66]:
china = pd.Series({
    'Population': 3,
    'GDP': 5
}, name= 'china')

In [69]:
df.loc['china'] = china

Append returns a new `DataFrame`:

In [70]:
df

                Population         GDP  Surface Area    HDI Continent
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America
china                3.000         5.0           NaN    NaN       NaN

You can directly set the new index and values to the `DataFrame`:

In [73]:
df.loc['Korea'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [77]:
df.drop(['China'], axis=0)

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
china           3.000000e+00         5.0           NaN    NaN       NaN
Korea           1.400000e+09         NaN           NaN    NaN      Asia

In [82]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
china           3.000000e+00         5.0           NaN    NaN       NaN
Korea           1.400000e+09         NaN           NaN    NaN      Asia

We can use `drop` to just remove a row by index:

In [83]:
df.drop('china', inplace=True)

In [ ]:
df

---
### More radical index changes

In [ ]:
df.reset_index()

In [ ]:
df.set_index('Population')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Creating columns from other columns

Altering a DataFrame often involves combining different columns into another. For example, in our Countries analysis, we could try to calculate the "GDP per capita", which is just, `GDP / Population`.

In [ ]:
df[['Population', 'GDP']]

The regular pandas way of expressing that, is just dividing each series:

In [84]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
Korea                      NaN
dtype: float64

The result of that operation is just another series that you can add to the original `DataFrame`:

In [85]:
df['GDP Per Capita'] = df['GDP'] / df['Population']

In [86]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,3.546700e+01,1785387.0,9984670.0,0.913,America,50339.385908
France,6.395100e+01,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,8.094000e+01,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,6.066500e+01,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,1.270610e+02,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,6.451100e+01,2950039.0,242495.0,0.907,Europe,45729.239975
United States,3.185230e+02,17348075.0,9525067.0,0.915,America,54464.120330
Korea,1.400000e+09,NaN,NaN,NaN,Asia,NaN

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Statistical info

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
population = df['Population']

In [ ]:
population.min(), population.max()

In [ ]:
population.sum()

In [ ]:
population.sum() / len(population)

In [ ]:
population.mean()

In [ ]:
population.std()

In [ ]:
population.median()

In [ ]:
population.describe()

In [ ]:
population.quantile(.25)

In [ ]:
population.quantile([.2, .4, .6, .8, 1])

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)